button {
  color: white;
  background: #090909;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  outline: none;
  border-width: 0;
  box-shadow: inset #414141 0 0 .1rem .2rem;
  transition: all 250ms ease-in-out;

  &[data-size="small"] {
    width: 2.5rem;
    height: 2.5rem;
  }

  &[data-size="medium"] {
    width: 3rem;
    height: 3rem;
  }

  &[data-size="large"] {
    width: 3.5rem;
    height: 3.5rem;
  }

  &:hover {
    background: #1a1a1a;
    box-shadow: inset #414141 0 0 .1rem .15rem;
  }

  &:active {
    background: #1a1a1a;
    box-shadow: inset #414141 0 0 .1rem .25rem;
  }
}